<header class="header">
  <div class="container">
    <div class="header__row">
      <a href="./index.html" class="header__logo">
        <img src="./img/logo.svg" alt="">
      </a>
      <div class="header__text">
        Restart — Ваша зона автокомфорту
      </div>
      <nav id="menu" class="header__nav nav">
        <a href="./about.html" class="nav__item" data-id-nav="about">Про компанію</a>
        <a href="./chain.html" class="nav__item" data-id-nav="chain">Мережа СТЦ</a>
        <a href="./shop.html" class="nav__item" data-id-nav="shop">Інтернет-магазин</a>
        <a href="./solutions.html" class="nav__item" data-id-nav="solutions">Готові рішення для СТО</a>
        <a href="./contacts.html" class="nav__item" data-id-nav="contacts">Контакти</a>
      </nav>
      <div id="burger" class="header__burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>